.section{
  padding-top: 100px;
  padding-bottom: 50px;
}
.main-h{
font-size: 30px;
}
.underline{
  height: 2px;
  width: 25px;
  background-color: brown;
  margin: 10px 10px;
}
.vision{
  background-color: rgb(183, 181, 181);
}
.ser{
  transition: 0.4s;
  overflow: hidden;
}
.info{
  transition: 0.4s;
  overflow: hidden;
}
.info img{
  transition: 0.4s;
}
.ser:hover{
  transform: translateY(-30px);
}
.ser img:hover{
 transform: scale(1.1);
}
.icon{
  transition: 0.4s;
}
.icon:hover{
  transform: rotate(290deg);
}